/* cv_styles.css is the style sheet for cv.html */

/* Initialises the custom font */
@font-face {
    font-family: Titillium;
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

/* Sets styles for the body */
body {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    color: #f3f0d1
}

/* Sets styles for h1 tag */
h1 {
    font-family: Titillium, serif;
    font-size: 30px;
}

/* Sets styles for a new p.style1 tag */
p.style1 {
    font-size: 9px;
}

/* Creates and styles a class for images */
.imgAnim {
    border-radius: 8px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    animation-name: profileBackgroundFade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Sets the keyframes for the image border animation */
/* This fades between the 4 colors */
@keyframes profileBackgroundFade {
    0% {
        border-color: red;
    }
    25% {
        border-color: limegreen;
    }
    50% {
        border-color: deepskyblue;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: red;
    }
}

/* Creates and styles a class for infomation boxes */
.infoBoxes {
    border-radius: 15px 50px 30px 50px;
    background: #1c4a2a;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    width: 250px;
    height: 200px;
    transition-property: all;
    transition-duration: 0.5s;
    font-size: 9px;
    color: darkcyan;
}

/* Sets what the information boxed do when the mouse is hovered over them */
.infoBoxes:hover {
    border-color: limegreen;
    border-radius: 50px 15px 50px 30px;
    width: 450px;
    height: 350px;
    font-size: 18px;
    color: #f3f0d1;
}
