ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.right {
    float: right;
    padding: 10px;
}

body {
    background-color: #283739;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3148;
    color: #f3f0d1;
    text-align: center;
    font-size: 13px;
}

.footerRel {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3148;
    color: #f3f0d1;
    text-align: center;
    font-size: 13px;
}

.split {
    float:left;
    width:75%;
    padding-left: 10px;
}
