.chartContainer {
    border-radius: 8px;
    background: #f3f0d1;
    margin-top: 10px;
    margin-left: 10px;
    border-color: #f3f0d1;
    border-style: solid;
    border-width: 3px;
}

canvas {
    width: 1000px !important;
    height: 400px !important;
}

p.style1 {
    font-size: 9px;
}
