/* weather-data_styles.css is the style sheet for weather-data.html */

/* Creates and styles a class for charts */
.chartContainer {
    border-radius: 8px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    border-color: purple;
    border-style: solid;
    border-width: 3px;
    position: relative;
}

/* Sets the default width and height of the canvas */
canvas {
    width: 1000px !important;
    height: 400px !important;
}

/* Sets styles for a new p.style1 tag */
p.style1 {
    font-size: 9px;
}

/* Sets styles for the body */
body {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    color: #f3f0d1
}

/* Sets styles for h1 tag */
h1 {
    font-family: Titillium, serif;
    font-size: 30px;
}
